@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.General
@model Thinktecture.IdentityServer.Models.Configuration.GlobalConfiguration

@{
    ViewBag.Title = Index_cshtml.GeneralConfiguration;
}

@using (Html.BeginForm("index", "General", FormMethod.Post, new { @class="form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(Index_cshtml.ErrorUpdatingConfiguration, new { @class = "alert alert-error" })
    @*ViewBag.Title*@

    @Html.EditorForModel()
    
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-large btn-primary">@Index_cshtml.SaveChanges</button>
            <button type="reset" class="btn btn-large">@Index_cshtml.Cancel</button>
        </div>
    </div>
    
}