@model OAuthClientViewModel
@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.OAuthClient

@{
    if (Model.IsNew)
    {
        ViewBag.Title = Edit_cshtml.NewOAuthClient;
    }
    else
    {
        ViewBag.Title = string.Format(Edit_cshtml.OAuthClient, Model.Client.Name);
    }
}
@{
    var action = Model.IsNew ? "Create" : "Update";
}
@using (Html.BeginForm(action, "OAuthClient", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(Edit_cshtml.ErrorUpdatingClient, new { @class = "alert alert-error" })
    <fieldset class="editor">
        <legend>@ViewBag.Title</legend>

        @*@Html.EditorForModel()*@
         @Html.EditorFor(x=>x.Client)

        <div class="control-group">
            <div class="controls">
                @if (!Model.IsNew)
                {
                    <button type="submit" name="action" value="save" class="btn btn-large btn-primary">@Edit_cshtml.SaveChanges</button>
                    <button type="submit" name="action" value="delete" class="btn btn-large">@Edit_cshtml.Delete</button>
                }
                else
                {
                    <button type="submit" name="action" value="create" class="btn btn-large">@Edit_cshtml.Create</button>
                }
                <button type="reset" class="btn btn-large">@Edit_cshtml.Cancel</button>
            </div>
        </div>

        @if (Model.IsOAuthRefreshTokenEnabled)
        {
            <nav class="links">
                <ul>
                    <li>@Html.ActionLink("tokens", "Index", "OAuthRefreshToken", new { ClientID=Model.Client.ID }, null)</li>
                </ul>
            </nav>
        }
    </fieldset>
}
