@model  Thinktecture.IdentityServer.Web.ViewModels.PasswordResetModel
@{
    ViewBag.Title = "Password Reset";
}

<div class="span4 offset4 middle-aligned">
    @using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new { @class = "well pop primary hinted validate clearfix" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("Password Reset failed. Please correct the errors and try again.", new { @class = "alert alert-error" })

    
        <div class="controls-row">
			<label class="control-label">Password</label>
			<div class="input-prepend full-width">
				<span class="add-on left"><i class="icon-lock"></i></span>
				@Html.PasswordFor(m => m.Password,
                    new { @placeholder = "Password", @required = true, @id = "password1", @pattern = "^.{5}.+$", @title = "",  @data_hint = "Required<br/>Minimal 6 characters"})
			</div>
        </div>
        <div class="controls-row">
			<label class="control-label">Repeat Password</label>
			<div class="input-prepend full-width">
				<span class="add-on left"><i class="icon-lock"></i></span>
            @Html.PasswordFor(m => m.Password2,
                    new { @placeholder = "Repeat Password", @class = "h5-matchingpassword" })
			</div>
        </div>
        <div class="hidden">
            @Html.HiddenFor(m => m.PasswordSecurityToken)
        </div>
		<button type="submit" class="pull-right submitbutton send">Save</button>
    }
</div>