@using Thinktecture.IdentityServer.Web.App_LocalResources.Shared
<ul class="nav">
    @if (ViewBag.IsAdministrator)
    {
        <li class="menu-item">
            @Html.ActionLink(_Menu_cshtml.Administration, "index", "home", new{area="Admin"}, null)
        </li>
        
        <li class="divider-vertical"></li>
    }
        
    @if (ViewBag.IsSignedIn)
    { 
        <li class="menu-item">
            @Html.ActionLink("My Profile", "myprofile", "account", new{area=""}, null)
        </li>
        
        <li class="divider-vertical"></li>
        
        <li class="menu-item">
            @Html.ActionLink(_Menu_cshtml.SignOut, "signout", "account", new{area=""}, null)
        </li>
    }
    else
    {
        <li class="menu-item">
            @Html.ActionLink(_Menu_cshtml.SignIn, "signin", "account", new{area=""}, null)
        </li>
    }

    <li class="divider-vertical"></li>
</ul>

<div class="nav pull-right">
    <div class="navbar-text">
        @if (ViewBag.IsSignedIn)
        {
            @:(signed in as @Context.User.Identity.Name)
        }
    </div>
</div>
