@model KeyConfigurationViewModel
@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.KeyConfiguration
@using Thinktecture.IdentityServer.Web.Utility

@{
    ViewBag.Title = Index_cshtml.KeyConfiguration;
}

@using (Html.BeginForm("index", "KeyConfiguration", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(Index_cshtml.ErrorUpdatingKeys, new { @class = "alert alert-error" })

    <fieldset class="editor">
        <legend>@ViewBag.Title</legend>

        <div class="control-group">
            @Html.LabelFor(x=>x.Keys.SigningCertificate, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x=>x.Keys.SigningCertificate, Model.AvailableSigningCerts)
                @Html.ValidatorFor(x=>x.Keys.SigningCertificate)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x=>x.SigningCertificateThumbprint, new { @class = "control-label" })
            <div class="controls">
                @Model.SigningCertificateThumbprint
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x=>x.Keys.DecryptionCertificate, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(x=>x.Keys.DecryptionCertificate, Model.AvailableDecryptionCerts)
                @Html.ValidatorFor(x=>x.Keys.DecryptionCertificate)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(x=>x.Keys.SymmetricSigningKey, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(x=>x.Keys.SymmetricSigningKey)
                @Html.ValidatorFor(x=>x.Keys.SymmetricSigningKey)
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-large btn-primary">@Index_cshtml.Update</button>
                <button type="reset" class="btn btn-large ">@Index_cshtml.Cancel</button>
            </div>
        </div>
    </fieldset>
}