@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.User
@model UserInputModel

@{
    ViewBag.Title = Create_cshtml.CreateUser;
}

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(Create_cshtml.ErrorCreatingUser, new { @class = "alert alert-error" })
    
    <fieldset class="editor small">
        <legend>Create User</legend>

        @Html.EditorForModel()

        <div class="control-group">
            <label>@Create_cshtml.Roles</label>
            <div class="inline-editor create-user-roles">
                @for (int i = 0; i < Model.Roles.Length; i++)
                {
                    <div>
                        @Html.HiddenFor(x => Model.Roles[i].Role)
                        @Html.LabelFor(x => Model.Roles[i].InRole, Model.Roles[i].Role)
                        @Html.CheckBoxFor(x => Model.Roles[i].InRole)
                    </div>
                }
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-large btn-primary">@Create_cshtml.Create</button>
                <button type="reset" class="btn btn-large">@Create_cshtml.Cancel</button>
            </div>
        </div>
    </fieldset>
}