@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="span2">
     <div class="well secondary middle-aligned">
    @Html.Action("Index", "Menu")
     </div>
</div>
  <script src="/Scripts/jquery-1.8.2.js"></script>
<div class="span10">
   <div class="well primary middle-aligned">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info">@TempData["Message"]</div>
    }
    @RenderBody()
   </div>
</div>


@section styles
{
    <link href="~/Areas/Admin/Content/Admin.css" rel="stylesheet" />
}
@section scripts
{
    <script>
        var cryptoRandomUrl = '@Url.Action("Random", "Home")';
    </script>
    <script src="~/Areas/Admin/Scripts/Admin.js"></script>
    @RenderSection("scripts", false)

    <script>
        $(document).ready(function () {
            $('a').each(function (i) {
                if (document.URL.indexOf($(this).attr('href')) != -1) {
                    $(this).parent().addClass('active');
                }
            });
        });
    </script>
}